<h2>About our Saturday</h2>
<p> Luke and Jessica came together over a shared love of programming.
From opposing sides of the world, GSchool and Turing, they came together to make an app about beers and stuff.</p> 
